.todo_container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.todo_container h1{

    text-align: center;
}
.list_all{
    list-style: none;

    padding: 20px;
}

.edit{
    margin-left: 10px;
}

.item{
    margin: 20px;
}

.delete{
    margin: 20px;
}

body{
    background: radial-gradient(circle, rgba(145,40,255,1) 0%, rgba(55,150,245,1) 100%);
}

#content-main{
    background: white;
    width: 500px;
}

#title{
    margin: 5px;
}

#checkbox{
    margin-right: 15px;
}