{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>
<body>
<div class="todo__wrapper">
  <div class="todo__content">
    <h1>TODO</h1>
    <form class="newItem" id="newItem">
      <div class="newItem__input">
        <input type="text" name="add" placeholder="Add item..." class="title">
        <button class="fas fa-plus submit-button" type="submit" name="action" value="submit">

        </button>
        

      </div>
     
        
        
        <div class="wrapper">

        </div>
    </form>
    

  </div>
</div>
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<script src="{% static 'js/list.js' %}"></script>
</body>
</html>